extends ./layout

block title
  title title
block append styles
  link(rel="stylesheet", href="../static/css/post.css")
block content
  .g-blog-post-markdown
        
  
block append scripts
  script(src="../static/js/post.js")