extends ./layout

block title
  title title
block append styles
  link(rel="stylesheet", href="../static/css/post.css")
block content
  .row
    .col-sm-2
    .col-sm-8
      .g-blog-post-markdown
        
    .col-sm-2
  
block append scripts
  script(src="../static/js/post.js")