.row
  .col-sm-2
  .col-sm-8.g-blog-main
    | {{#each p}}
    .g-blog-post
      h2.g-blog-post-title {{title}}
      p.g-blog-post-preview {{preview}}
      p.g-blog-post-footer
        span.g-blog-post-meta {{time date}}&nbsp;
          a(href="#") {{author}}
        span.g-blog-post-share
          a
            span.glyphicon.glyphicon-star
        a.g-blog-post-detail(href="/post?title={{title}}") show all
    | {{/each}}
  .col-sm-2