.row
  .col-sm-2
  .col-sm-8.g-blog-main
    each p in posts.posts
      .g-blog-post
        h2.g-blog-post-title #{p.title}
        p.g-blog-post-preview #{p.preview}
        p.g-blog-post-footer
          span.g-blog-post-meta #{p.date} 
            a(href="#") #{p.author}
          span.g-blog-post-share
            a
              span.glyphicon.glyphicon-star
            a
              span.glyphicon.glyphicon-eye-open
          a.g-blog-post-detail(href="") show all
  .col-sm-2